<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="img/67629175_2773957922632371_102863878328680448_n.jpg"/>
        </div>
        {{>footer}}
    </body>
</html>